<!-- Resident Navbar -->
<nav class="navbar navbar-resident">
    <div class="navbar-container">
        <div class="navbar-brand">
            <a href="/">eSociety</a>
            <span class="navbar-role-badge">Resident</span>
        </div>
        <ul class="navbar-menu">
            <li class="navbar-item"><a href="/" class="navbar-link">Dashboard</a></li>
            <li class="navbar-item"><a href="#announcements" class="navbar-link">Announcements</a></li>
            <li class="navbar-item"><a href="#complaints" class="navbar-link">Complaints</a></li>
            <li class="navbar-item"><a href="#events" class="navbar-link">Events</a></li>
            <li class="navbar-item"><a href="/logout/" class="navbar-link">Logout</a></li>
        </ul>
    </div>
</nav>
